body {
    padding-top: 70px;
}

img.logo {
    max-width: 100%;
}

.new-arrivals img {
    float: right;
    width: 50%;
}

.new-arrivals .panel {
    cursor: default;
}

.new-arrivals .panel-body {
    padding-bottom: 0;
}

.new-arrivals .content-description {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.new-arrivals .action-button-group {
    border-top: 1px solid lightgray;
    margin-top: 15px;
}

.new-arrivals .action-button {
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.new-arrivals .action-button + .action-button {
    border-left: 1px solid lightgray;
}