<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>api.user.UserSignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>api.user.UserRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reg</servlet-name>
        <servlet-class>api.user.UserAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Auth</servlet-name>
        <servlet-class>api.user.UserAuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAuth</servlet-name>
        <servlet-class>api.user.AdminAuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseRecord</servlet-name>
        <servlet-class>api.purchaserecord.PurchaseRecordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOut</servlet-name>
        <servlet-class>api.user.UserSignOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSignOut</servlet-name>
        <servlet-class>api.user.AdminSignOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookPurchase</servlet-name>
        <servlet-class>api.book.BookPurchaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoPurchase</servlet-name>
        <servlet-class>api.purchaserecord.PurchaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseRecordDetail</servlet-name>
        <servlet-class>api.purchaserecord.PurchaseRecordDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseRecordAction</servlet-name>
        <servlet-class>api.purchaserecord.PurchaseRecordActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookDetail</servlet-name>
        <servlet-class>api.book.BookDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddBook</servlet-name>
        <servlet-class>api.book.AdminBookAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateBook</servlet-name>
        <servlet-class>api.book.AdminBookUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteBook</servlet-name>
        <servlet-class>api.book.AdminBookDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewRefund</servlet-name>
        <servlet-class>api.purchaserecord.AdminRefundViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminApproveRefund</servlet-name>
        <servlet-class>api.purchaserecord.AdminRefundApproveServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/user/signup</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/user/signin</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Reg</servlet-name>
        <url-pattern>/user/add</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Auth</servlet-name>
        <url-pattern>/user/auth</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AdminAuth</servlet-name>
        <url-pattern>/admin/auth</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PurchaseRecord</servlet-name>
        <url-pattern>/user/purchase</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SignOut</servlet-name>
        <url-pattern>/user/logout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AdminSignOut</servlet-name>
        <url-pattern>/admin/logout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BookPurchase</servlet-name>
        <url-pattern>/book/confirm</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DoPurchase</servlet-name>
        <url-pattern>/book/purchase</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PurchaseRecordDetail</servlet-name>
        <url-pattern>/user/purchase/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PurchaseRecordAction</servlet-name>
        <url-pattern>/user/purchaseaction</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BookDetail</servlet-name>
        <url-pattern>/book/details</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AdminAddBook</servlet-name>
        <url-pattern>/admin/book/add</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AdminUpdateBook</servlet-name>
        <url-pattern>/admin/book/update</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AdminDeleteBook</servlet-name>
        <url-pattern>/admin/book/delete</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AdminViewRefund</servlet-name>
        <url-pattern>/admin/refund/view</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AdminApproveRefund</servlet-name>
        <url-pattern>/admin/refund/approve</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
